{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/channel.css' %}" />
<link rel="stylesheet" href="{% static 'css/slider.css' %}" />
{% endblock %}
{% block title %} {{ title }} - Best Youtube Channels{% endblock %}

{% block subscribe %}
{% endblock %}

{% block content %}
<div class="channel-header">
  <div class="pure-g channel-pure">
    <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-1 pure-u-xl-1-1 channel-header-pure">
      <div id="channel-header-outside" >
        <div class="pure-u-1-1 pure-u-md-2-24"></div>
        <div id="channel-header-img" class="pure-u-1-1 pure-u-sm-4-24 pure-u-md-4-24">
          <div id="channel-header-img-wrapper" class="pure-u-1-3 pure-u-sm-1-1 pure-u-md-1-1">
            <img id="channel-src" src="" />
          </div>
        </div> <!-- end channel-header-img -->
        <div id="channel-header-details" class="pure-u-1-1 pure-u-sm-18-24 pure-u-md-16-24">
          <div id="channel-header-details-wrapper">
            <div id="channel-header-title">
                <a target="_blank" class="channel-title-href" href="https://www.youtube.com/channel/{{ channel_id }}"><span id="channel-header-text"></span></a>
              <input id="channel-id-input" type=hidden value={{ channel_id }} />
            </div> <!-- end channel-header-title -->
            <div id="channel-header-sub">
              <span id="channel-sub-text"></span>
              <span id="channel-sub-img-span">
                <img id="channel-sub-img" src="{% static 'imgs/youtube_64.png' %}" />
              </span>
            </div> <!-- end channel-header-title -->
            <div id="channel-header-content">
              <span id="channel-header-content-span"></span>
              <div id="channel-time" class="pure-u-1-1 pure-sm-1-1 pure-md-1-1">
                  <a target="_blank" class="pure-button pure-button-primary get-channel" href="https://www.youtube.com/channel/{{ channel_id }}">Browse the Channel</a>
              </div>
            </div> <!-- end channel-header-content -->
          </div> <!-- end channel-header-details -->
        </div>
        <div class="pure-u-sm-2-24 pure-u-md-2-24 pure-u-lg-2-24 pure-u-xl-2-24"></div>
      </div> <!-- end channel-header-outside -->
      <div class="clear"></div>
    </div> <!-- end pure-u-1 -->
  </div> <!-- end pure-g -->
</div> <!-- end channel-header -->

<div class="channel-content">
  <div class="hostest-video">
    <div id="hostest-content-title">
      <img class="content-img-icon" src="{% static 'imgs/Rocket.png' %}" />
      <h1 id="hostest-content-title-text">Newest Videos</h1>
    </div>
    <div class="pure-g hostest-content-g">
    </div> <!-- end channel-content-g -->
  </div> <!-- end hostest-video -->
  <div class="newest-video">
    <div id="newest-content-title">
      <img class="content-img-icon" src="{% static 'imgs/Like.png' %}" />
      <h1 id="newest-content-title-text">Hostest Videos</h1>
    </div>
    <div class="pure-g newest-content-g">
    </div> <!-- end channel-content-g -->
  </div> <!-- end hostest-video -->
</div> <!-- end channel-content -->
{% endblock %}


{% block extra_scripts %}
<script src="{% static 'js/js_lib/moment.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/channel.js' %}"></script>
<script>
    channel_id = $("#channel-id-input").val();
    get_channel_details(channel_id);
    get_video_playlist("date", channel_id, $(".hostest-content-g"), "video");
    get_video_playlist("viewCount", channel_id, $(".newest-content-g"), "video");
    $(document).ready(function() {
        slick_init();
    });
</script>
{% endblock %}
