{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/videos.css' %}" />
<link rel="stylesheet" href="{% static 'css/channel.css' %}" />
{% endblock %}
{% block title %} Newest Videos under {{ title }} - Best Youtube Channels{% endblock %}
{% block subscribe %}
{% endblock %}
{% block content %}
<div class="videos-content">
    <div class="videos-outside-div pure-g">
      <div class="pure-u-1 pure-u-md-1-1 pure-u-sm-1-1 videos-inside-div">
        <div class="videos-title pure-u-2-3 pure-u-sm-2-3 pure-u-md-2-3">
          <img class="videos-title-img" src="{% static 'imgs/tv.png' %}" />
          <h1 class="videos-title-h1">{{ title }}</h1>
          <h1 id="newest-content-title-text">Newest Videos</h1>
        </div> <!-- end video-title -->
      <div class="videos-list-div pure-g">
      </div> <!-- end video-list-div -->
    </div> <!-- end video-inside-div -->
  </div> <!-- end video-outside-div -->
</div> <!-- end video-content -->

{% endblock %}

{% block slider %}
{% endblock %}

{% block slider_scripts %}
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/js_lib/moment.js' %}"></script>
<script src="{% static 'js/channel.js' %}"></script>
<script src="{% static 'js/videos.js' %}"></script>
<script>
    $(document).ready(function() {
        var title = "{{title}}"
        get_channel(title , $(".videos-list-div"), get_newest_videos); 
    });
</script>
{% endblock %}

