.cate-search {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}

.cate-content {
    margin-top: 40px;
    margin-bottom: 40px;
}

#subscribe-email {
    display: inline-block;
}

.cate-block-a {
    display: block;
    margin: 20px;
}

.select-cate-div {
    margin: 0 auto;
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    cursor: text;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    line-height: 40px;
}


.cate-img {
    max-width:100%;
}

.cate-wrapper-span {
    text-align: center;
}

.cate-block {
    text-align: center;
}

.cate-block-outside {
    border-radius: 10px;
    box-shadow: 0px 3px 0px rgba(170,170,170,0.1);
    cursor: pointer;
    background-color: white;
}

.cate-block-outside:hover{
    box-shadow: 0px 5px 3px #e2e2e2;
}

.cate-span {
    display: inline-block;
    font-size: 1.8vw;
    white-space: nowrap;
}

.cate-block-inside {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cate-block-pure {
    width: 90%;
    margin: 0 auto;
}

.details-outside-div {
    width: 90%;
    margin: 0 auto;
}

.details-title {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.details-div {
    margin-bottom: 20px;
    padding-top: 40px;
    background-color: white;
    border-radius: 10px;
}

.channel-img {
    max-width: 100%;
    border-radius: 50%;
}

.channel-indide-div {
    border-radius: 5px;
}

.channel-indide-a:hover {
    box-shadow: 0px 5px 3px #e2e2e2;
}

.channel-name {
    font-size: 2vw;
    font-weight: bold;
}

.channel-content-span {
    font-size: 1.3vw;
    color: grey;
}

.channel-title, .channel-content {
    padding: 20px;
}

.channel-div {
    text-align: center;
    margin-bottom: 50px;
}

.channel-indide-a {
    display: block;
    margin: 0 auto;
    text-align: left;
    text-decoration: none;
    box-shadow: 0px 3px 4px rgba(170,170,170,0.1);
}

.channel-details-inside {
    margin-bottom: 20px;
}

.channel-thumbnail_inside {
    margin: 15px;
}

@media only screen and (max-width: 768px) {
    .channel-thumbnail {
        margin: 0 auto; 
        display: block;
    }
    .weekly-thumbnail {
        width: 45%; 
    }
    .channel-thumbnail_inside {
        margin-bottom: 20px;
    }
    .channel-img {
        display: block; 
        margin: 0 auto;
    }
    #sub-legend {
        font-size: 6vw; 
    }
}

@media only screen and (max-width: 1024px) and (min-width: 767px) {
    .channel-thumbnail {
        margin: 0 auto; 
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    #youtube-title {
        font-size: 8vw;
    }
    #youtube-count {
        font-size: 6vw;
    }

    .youtube-wrapper {
        font-size: 5vw;
    }

    .cate-count-span {
        font-size: 8vw !important;
    }
    .cate-wrapper-span {
        margin-top: 10px; 
    }
    .cate-span {
        font-size: 6vw;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .channel-name {
        font-size: 6vw;
        font-weight: bold;
    }
    .channel-content-span {
        font-size: 3vw;
    }
    .channel-sub-div {
        display: block;
        float: none !important;
    }
    .details-title-span {
        font-size: 1.5em; 
    }
}

.channel-content {
    max-width: 100%;
    overflow: hidden;
}

.details-title-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.channel-details {
    padding-top: 5px;
}

.channel-sub-div {
    float: right;
}

.channel-img-sub-span {
    display: inline-block;
    width: 15px;
    margin-left: 10px;
}

.channel-sub-img {
    max-width: 100%;
}

.channel-sub-span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 6px;
}

.cate-count-span {
    font-size: 3vw;
    color: white;
    background-color: #0078e7;
    border-radius: 50%;
}

.cate-count-span-inside {
    max-width: 100%;
}
