.slider-h3 {
    margin: 10px 30px 20px 30px;
    height: 200px;
    background: white;
    text-align: center;
}

.slider-a {
    text-decoration: none;
    display: inline-block;
}

.slider-h2 {
    font-size: 3vw;
    line-height: 3vw;
    color: #0078e7;
}

@media only screen and (max-width: 767px) {
    .slider-h2 {
        font-size: 12vw;
        line-height: 3vw;
        color: #0078e7;
    }
}

.slick-slide {
    padding-right: 20px;
}

.slider-title {
    border-radius: 10px;
}

.slider-title, .slider-footer {
    text-align: center;
    background-color: white;
    margin-top: 40px;
    padding: 20px;
}

.weekly-thumbnail {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.weekly-img {
    border-radius: 50%;
    width: 70%;
}

.weekly-a {
    display: block;
    background-color: white;
    padding: 40px 40px 40px 10px;
    min-height: 180px;
    border-radius: 10px;
}

.weekly-name {
    display: block;
    font-size: 2vw;
    margin-bottom: 20px;
}

.weekly-content-span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 5.4em;
    line-height: 1.8em;
}

.weekly-div {
    padding: 10px;
}

.slider-outside-div {
    width: 90%;
    margin: 0 auto;
}

#weekly-re {
    font-size: 2.5vw;
    padding-top: 0px;
}

@media only screen and (max-width: 767px) {
    #weekly-re {
        font-size: 8vw;
    }
    .weekly-name {
        font-size: 5vw;
    }    
}

.weekly-a {
    text-decoration: none;
}

.newest-responsive {
    width: 70%;
    margin: 0 auto;
}

.slider-ad-title {
    text-align: center;
}

.slider-ad-footer {
    text-align: center;
}

.slider-ad-wrapper {
    background-color: white;
}

.slider-ad-div {
}

.slider-ad-img {
    margin: 0 auto;
}
